body {
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    height: 10vh;
}

textarea {
    resize: none;
    width: 70%;
    height: 50px;
}

button {
    width: 100px;
    height: 25px;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: rgb(235, 233, 233);
    margin: 0 2vw;
    width: 96vw;
    height: 80vh;
}

.note {
    width: 250px;
    height: 150px;
    background-color: #fff;
    border: black 1px solid;
    position: relative;
}

.note_header {
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #fff;
    background-color: rgb(136, 136, 136);
}

.note_header button {
    background-color: rgb(235, 74, 74);
    width: 20px;
    height: 20px;
}

.note textarea {
    width: 100%;
    height: 130px;
    padding: 0;
}